<div class="container">
  <header>
    <strong>LOGO</strong>
    <nav>
      <ul>
        <li>
          <img src="./assets/minimize.svg" id="minimize" (click)="minimizeWindow()" alt="min" />
        </li>
        <li>
          <img src="./assets/close.svg" id="close" (click)="closeWindow()" alt="cls" />
        </li>
      </ul>
    </nav>
  </header>
  <select name="preview" (change)="onChange($event.target.value)">
    <option *ngFor="let element of elements" [value]="element.Index">
      {{element.Symbol}} - {{element.Name}}</option>
  </select>
  <main>
    <canvas #preview width="1920" height="1920"></canvas>
  </main>
</div>